html {
  height: 100%;
  background: #ecf0f1;
  color: #fff;
}

body {
  margin: 0 auto;
}

button {
	border: none;
	display: block;
	margin: 1em auto;
	width: 50%;

	background: #3498db;
	border-radius: 4px;
	color: #fff;
	font-size: 120%;
	line-height: 44px;
	-webkit-appearance: none;
}

#gallery {
    // -webkit-columns: 4;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
}

.poster {
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 1;
    -webkit-flex-basis: auto;
    margin-bottom: 2.5%;
    width: 23%;
	img {
		max-width: 100%;
		display: block;
	}
}