html {
  height: 100%;
  background: #ecf0f1;
  color: #fff;
}

body {
  margin: 0 auto;
}

button {
	border: none;
	display: block;
	margin: 1em auto;
	width: 50%;

	background: #3498db;
	border-radius: 4px;
	color: #fff;
	font-size: 120%;
	line-height: 44px;
	-webkit-appearance: none;
}

#gallery {

}

#gallery > article {
	width: 33vw;
}

.poster {
	img {
		max-width: 100%;
		display: block;
	}
}